<html>
    <head>
        <title>Twitter2.0</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/"><img src="/static/blog/logo2.png" alt="" width="40"></a><a href="/">Twitter2.0</a></h1>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8">
            {% block body %}
            {% endblock body %}
            </div>
        </div>
    </div>
    </body>
</html>