{% extends "base2.html" %}
{% block title %}Log-in{% endblock title%}
{% block body %}
  <h1>Войдите</h1>
  {% if form.errors %}
    <p>Ваши имя или пароль не совпадают</p>
  {% else %}
    <p>Воспользуйтесь формой, чтобы войти: </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
  </div>
{% endblock body %}